*{
  padding: 0;
  margin: 0;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  height: 100vh;
 
  
 


}
#wrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.quote-div{
  display: flex;
  /* padding: 10px; */
  /* justify-content: center; */
  justify-content: space-between;


}


.qu{
  display: flex;
  


}
#quote-text{
  margin-right: 10px;
}
.wr{
  display: flex;
  flex-direction: column;
}
#quote-box{
  background-color: white;
 
    display: table;
    /* text-align: center; */
    width: 450px;
     padding: 40px 50px;
    
    align-items: center;
   
    border: 3px ;
    border-radius: 20px;
    
    

 
}
/* #author{
 
  text-align: right;
} */

a{
  text-decoration: none; 
 
}


#tweet-quote{
  text-align: center;
  font-size: 4em;
  
  height: 30px;
  width: 40px;
}
#tumbler-quote{
 
 
  text-align: center;
  font-size: 4em;
  
  height: 30px;
  width: 40px;
  
  
  
}
#new-quote{
  margin-bottom: 10px;
  padding-right: 10px;
  margin-top: 20px;
  
 
}
  
.dash{
  padding-top: 10px;
 display: flex;
 justify-content: right;
}