.con{
  display: block;
 
  height: 800px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#wrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.quote-div{
  display: flex;
  /* padding: 10px; */


}
.createby{
  margin-left: 70%;
}

.qu{
  display: flex;


}
.wr{
  display: flex;
  flex-direction: column;
}
#quote-box{
  background-color: white;
  position: relative;
    display: table;
    text-align: center;
    /* width: 450px; */
  padding: 40px 50px;
    /* justify-content: center;
    align-items: center;
    height: 200px; */
    /* width:60%; */
    border: 3px solid green;
    /* padding-left: 20px;  */
    /* margin-left: 250px;
    margin-top: 250px; */

 
}
.footer{
  display: flex;
  justify-content: center;
  padding-left: 30%;

  align-items: center;
}

a{
  text-decoration: none; 
 
}
.link-text{
  color:black;
  text-align: center;
  padding: 20px;
}
#author{
  color: aqua;
}
#text{
  color: blue;
}